PORT=''
XPUB=''
MNEMONIC=''
UNSETELED_UTXO_LIMIT=''
INVOICE_WATCH_INTERVAL_MS=''
CRON_INTERVAL_SECONDS=''
ENABLE_CRON=''
RGB_MANAGER_ENDPOINT=''
WEBHOOK_SECRET=''
RABBITMQ_CONNECTION_URL=''
MASTER_FINGERPRINT=
BITCOIN_NETWORK=

# estimate fee endpoint
ESTIMATE_FEE_URL=
ESTIMATE_FEE_TOKEN=
# jwt
ENABLE_JWT_AUTH=
AUTH_VERIFY_URL=

# mtls certs
ENABLE_MTLS=
SERVER_KEY_PATH=
SERVER_CERT_PATH=
CA_CERT_PATH=

#notifications
TELEGRAM_BOT_TOKEN=
MIN_BTC_BALANCE=
MIN_ASSET_BALANCE=


